/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width:500px) {
  width: 90%;
  height: 50px;
  font-size: 2.5rem;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #494949;
  padding: 15px 120px;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header nav .NavLink {
  text-decoration: none;
  color: #494949;
  font-size: 1.5em;
}
header .title {
  width: 100%;
}
.aboutUsHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #494949;
  padding: 15px 120px;
}
.aboutUsHeader nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.aboutUsHeader nav .NavLink {
  text-decoration: none;
  color: #494949;
  font-size: 1.5em;
}
.aboutUsHeader .title {
  width: 100%;
}
@media (max-width:500px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }
  header h1 {
    text-align: center;
  }
  header nav {
    justify-content: space-evenly;
  }
}
.footer {
  width: 100%;
  border-top: 5px solid #494949;
  background-color: #C8F7EA;
}
.footer p {
  text-align: center;
  color: #494949;
  font-size: 1.6rem;
  padding: 20px;
}
.footer .footerNav {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.footer .footerNav .NavLink {
  text-decoration: none;
  color: #494949;
  font-size: 1.5em;
}
.intro {
  display: flex;
  flex-direction: column;
}
.intro h2 {
  margin-top: 10px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #C8F7EA;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 5px solid #494949;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-ideas {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-ideas img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 5px soild #494949;
  display: flex;
  justify-content: space-evenly;
}
.home .content-pick .ideas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick button {
  display: flex;
  background-color: #4F5E91;
  width: 100%;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: #F99E27;
}
.home .content-pick .btn {
  text-align: center;
  margin: auto;
}
@media (max-width:500px) {
  .home .content-section {
    flex-direction: column;
  }
  .home .content-section .text-content {
    width: 100%;
  }
  .home .content-section .img-content {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
  }
  .home .inverse-content {
    flex-direction: column-reverse;
  }
  .home .content-ideas {
    width: 100%;
  }
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
  .home .content-pick .ideas {
    width: 75%;
  }
}
